body{
    text-align: center;
    color: palevioletred;
    /* background-color: red; */
}
h1 {
    color: rgb(87, 32, 138);
    font-size: 30px;
    position: fixed;
    bottom: 0;
    text-align: center;
}

h3,h4,h5,h6{
    font-size: 30px;
  
}
